.field-name-field-address,
.field-name-field-user-postal-address label,
.field-name-field-user-postal-address .ui-select,
#edit-user-profile-form-field-user-postal-address-und-0-value-country-widget div:not(:nth-child(1)):not(:nth-child(2)) {
    display: none
}

.pac-item {
    font-size: 0.9em;
}
.pac-item span {
    font-size: 0.9em;
}
.pac-item .pac-matched {
    font-size: 1.1em;
}
.pac-icon-marker {
    display: none;
}
