
/* Global styles */
.ui-content.region_content {
    background-image: url("../images/background-logo.png");
    background-size: 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

/* Styles for property listing */
.view-row {
	margin-bottom: 35px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(145, 158, 169);
	text-align: center;
}

.view-row:last-child {
	border-bottom: none;
}

.view-row .address {
	margin: 15px 0;
}

.view-row a.ui-link {
	text-decoration: none;
}

.view-row a.ui-link:hover {
	text-decoration: underline;
}

/* Splash screen */
#_drupalgap_splash_content {
    text-align: center;
}

/* Property page */
.node.node-view h2:first-child {
    display: none;
}

.node.node-view h3 {
    margin: 0.8em 0 0.3em 0;
}

.node.node-view .body {
    font-size: 0.8em;
}

.node.ui-page .region_sub_header {
    display: none;
}

.field-name-field-owner-info-product,
.field-name-field-address-access-product {
    display: none;
}

#node_edit .field-name-title {
    display: none;
}

#commerce_cart .ui-listview h2 {
    margin-top: 1.5em;
}

#edit-reiscout-send-letters-custom-form-submit {
    font-size: 12px;
}
