.pac-item {
  font-family: sans-serif;
  font-size: 0.9em;
}

.pac-item-query {
    color: #000;
    font-size: 1em;
    padding-left: 5px;
    padding-right: 8px;
}

.pac-icon-marker {
  display: none;
}

#reiscout_address_purchased_list_view .views-results li {
    text-align:center;
}

#reiscout_address_purchased_list_view .views-results li .title a {
    white-space: normal;
}
